/* ================================= 
  Base Element Styles
==================================== */
* {
  box-sizing: border-box;
}
html, 
body, 
.content {
  height: 100%; /*needed for proper layout*/
}
body {
  display:flex;
  flex-direction:column;
  /* min-height:100vh; */
  background-color: #0d1117;
  color: white;
  font-family: "Lato", sans-serif;
  margin: 0;
  /* min-height: 200vh; */
  overflow: hidden;
}
p {
	font-size: .95em;
	margin-bottom: 1.8em;
  margin: 0 0 0 0;
}
img {
	max-width: 100%;
}
h2 {
  width:100%;
  font-size: 1.5em;
  font-weight: bold;
  color: #10689f;
  margin: 10px auto;
}
h3 {
  font-size: 1.25em;
  font-weight: bold;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 0; 
}
a {
  color: #10689f;
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.5em;
	margin: 0;
  text-transform: uppercase;
}
.main-nav {
	margin-top: 5px;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.name a,
.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
}
.main-nav a {
	font-size: .95em;
  color: #10689f;
	text-transform: uppercase;
}
.main-nav a:hover {
	color: #ffffff;
}
#connect a:hover {
	color: #ffffff;
}

/* ---- Layout Containers ---- */

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
  flex: 0 0 auto;
  /* background-color: #dcdcdc; */
}
.main-content {
  flex: 1 1 auto;
  position: relative;/* need this to position inner content */
  overflow-y: auto;
}
.banner,
.main-footer {
	text-align: center;
}
.banner {
	color: #fff;
	background-image: url("../images/lights_bg.jpg");
  background-size: cover;
	padding: 3.2em 0;
	margin-bottom: 48px;
}
.row {
  flex: 1;
}
.col {
	padding-right: 1em;
	padding-left: 1em;
}
.main-footer {
	/* background: #d9e4ea; */
  flex: 0 0 auto;
	padding: 2em 0;
	margin-top: 30px;
}

/* ---- Page Elements ---- */

.logo {
	width: 190px;
}
.headline {
	margin-bottom: 0;
}
.feat-img {
	border-radius: 50%;
}
section {
  padding: 5px;
}
.content {
  display: flex;
  flex-direction: column;
}
.experience ul {
  padding: 15px;
  list-style-type: square !important;
}
#skills ul {
  padding: 1px; 
  margin-top: 0px;
  margin-bottom: 10px; 
  display: block;
  list-style-type: square;
  /* margin-block-start: 1em; */
  margin-block-end: 1em;
  padding-inline-start: 30px;
}
/* #connect { */
  /* width:80%; */
  /* margin: auto; */
/* } */
.connect {
  width: 100%;
  /* padding: none; */
  margin: auto;
} 

/* ---- Message Form Elements ---- */

.container {
  width: 80%;
  max-width: 1200px;
  /* margin: 0 auto; */
}

.container * {
  box-sizing: border-box;
}

.flex-outer,
.flex-inner {
  list-style-type: none;
  padding: 0;
}

.flex-outer {
  max-width: 800px;
  margin: 0 auto;
}

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-inner {
  padding: 0 8px;
  justify-content: space-between;  
}

.flex-outer > li:not(:last-child) {
  margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
  padding: 8px;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 220px;
}

.flex-outer li p {
  margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
  padding: 15px;
  border: none;
}

.flex-outer li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}

.flex-inner li {
  width: 100px;
}

/* old*/

.message {
  display:flex;
  width: 87%;
}
.message-list {
  width:100%;
  /* width:90%; */
  /* padding: none; */
  margin: auto;
}
.message-list-container {
  width: 90%;
  /* padding: none; */
  margin: auto;
} 
#message-list li {
  padding: 5px;
}
#message-list ul {
  margin-bottom: 10px; 
  list-style-type: square;
}
#message-list:has(ul:empty) {
  display: none;
}
textarea, input {
  font-size: 1em;
  width:100%;
  border-radius: 5px;
  font-family: Arial;
}
.btnRemove {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}
/* #btnSubmit {
  padding: 10px;
  /* margin: 5px; */
  /* background-color: rgb(15, 165, 118); */
  /* color: white; */
  /* border-radius: 10px; */
/* } */
/* .btnRemove {
  padding: 10px;
  background-color: rgb(15, 165, 118);
  color: white;
  border-radius: 10px; */
  /* border: dotted; */
/* } */
/* ================================= 
  Media Queries
==================================== */
@media only screen and (min-width: 456px) {
  /* .main-header, .main-nav, .row {
    display: flex;
  } */
	.main-header, 
  .row {
		width: 90%;
		margin: 0 auto;
  }
  .main-header {
    flex-direction: column;
    align-items: center;
  }
	.tagline {
		font-size: 1.4em;
	}
  .col {
    flex:1 50%;
  }
  .zrow {
    flex-wrap: wrap;
    gap: 10px;
  }
  h2 {
    width: 87%;
  }
  .connect {
    margin:auto;
    width: 80%;
  }
  .message-list-container {
    width:80%;
  }
  .message-list {
    width:90%;
  }
}
@media (min-width: 768px) {
  .main-header, .main-nav, .row {
    display: flex;
  }
	.main-header,
	.row {
		width: 87%;
		margin: 0 auto;
	}
  .main-header {
    flex-direction: column;
    align-items: center;
  }
	.tagline {
		font-size: 1.4em;
	}
  .col {
    flex:1 50%;
  }
  .row {
    flex-wrap: wrap;
    gap: 10px;
  }
  h2 {
    width: 87%;
  }
  .message-list {
    width: 87%;
  }
  .message-list-container {
    width: 85%;
  }
}
@media (min-width: 1025px) {
	.main-header,
	.row {
		width: 87%;
		max-width: 1150px;
    flex-wrap:wrap;
	}
  .main-header {
    flex-direction: row;
    justify-content: space-between;
  }
  .col {
    /* flex-basis:0; */
    flex:1 30%;
  }
  /* h2 {
    width: 86%;
  } */

  .message-list {
    width: 87%;
  }
  .connect, .message-list-container {
    width: 85%;
  }
}
@media (min-width: 1220px) {
	.main-header,
	.row {
		width: 87%;
		max-width: 1350px;
    flex-wrap:wrap;
	}
  .main-header {
    flex-direction: row;
    justify-content: space-between;
  }
  .col {
    /* flex-basis:0; */
    flex:1;
  }
  /* h2 {
    width: 80%;
  } */
  h2.message-list{
    width:87%;
  }
  .connect,  .message-list, .message-list-container {
    width: 85%;
  }

}