/* ================================= 
  Base Element Styles
==================================== */
* {
  box-sizing: border-box;
}
html, 
body, 
.content {
  height: 100%; /* needed for proper layout*/
}
body {
  display: flex;
  flex-direction: column;
  background-color: #0d1117;
  color: white;
  font-family: "Arial", sans-serif;
  margin: 0;
  overflow: hidden;
}
p {
	font-size: .95em;
	margin-bottom: 1.8em;
  margin: 0 0 0 0;
}
img {
	max-width: 100%;
}
h2 {
  width: 100%;
  font-size: 1.5em;
  font-weight: bold;
  color: #10689f;
  margin: 10px auto;
}
h3 {
  font-size: 1.25em;
  font-weight: bold;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 0; 
}
a {
  color: #10689f;
  text-decoration: none;
  font-weight: bold;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */
.name {
	font-size: 1.5em;
	margin: 0;
  text-transform: uppercase;
}
.main-nav {
	margin-top: 5px;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.name a,
.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
	font-size: .95em;
  color: #10689f;
	text-transform: uppercase;
}
.main-nav a:hover, .projects a:hover{
	color: #ffffff;
}

/* ---- Layout Containers ---- */
.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
  flex: 0 0 auto;
}
.main-content {
  flex: 1 1 auto;
  position: relative;/* need this to position inner content */
  overflow-y: auto;
}
.banner {
  display: flex;
  flex-direction: row;
  color: #fff;
	background-image: url("../images/lights_bg.jpg");
  background-size: cover;
	padding: 3.2em 0;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.connect {
  flex: 0 0 auto;
	padding: 2em 0;
	margin-top: 30px;
  text-align: center;
}
.connect img {
  width: 30px;
}

/* ---- Page Elements ---- */
.emphasis {
  font-style: italic;
}
.logo {
	width: 190px;
}
.headline {
	margin-bottom: 0;
}
.feat-img {
	border-radius: 50%;
}
section {
  padding: 5px;
}
.content {
  display: flex;
  flex-direction: column;
}
.bio {
  display: flex;
}
.job ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.job {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem 0 1rem 0;
  justify-content: space-between;
}
#skills ul {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  gap: 5px;
  list-style-type: square;
  margin-block-end: 1em;
}
.block {
  border-radius: 5px;
  border: 2px solid;
  border-color: #10689f;
  display: inline-block;
  padding: 5px;
  margin-bottom: 0.5rem;
}
#projects li {  
  margin: 0 0 10px 0;
} 

/* ---- Message Form Elements ---- */
form {
  width: 87%;
  max-width: 800px;
}
.grid {
  display: grid;
  grid-template-columns: 100px auto;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  margin: auto;
}
.itemlabel {
  padding: 5px;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
  margin-left: 70px;
}
.item {
  padding: 12px 12px;
  font-weight: 300;
  font-size: 1em;
  width: 100%;
  border-radius: 5px;
  font-family: Arial;
}
#btnSubmit {
  grid-column-end: span 2;
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 5px;
}
.message-list {
  padding: 5px 5px 5px 5px;
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: auto;
  align-items: center;
}
.message-list ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}
#message-list:has(ul:empty) {
  display: none;
}
.btnRemove {
  margin-left: 10px;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 5px;
}

/* ================================= 
  Media Queries
==================================== */
@media only screen and (max-width: 455px) {
  .itemlabel {
    margin-left: 0px !important;
  }
  h1 {
    text-align: center;
  }
  section {
    width: 95%;
    margin: auto;
  }
}
@media only screen and (min-width: 456px) {
	.main-header {
		width: 90%;
		margin: 0 auto;
    flex-direction: column;
    align-items: center;
  }
	.tagline {
		font-size: 1.4em;
	}
  h2 {
    width: 87%;
  }
  h1 {
    text-align: center;
  }
 .bio, .job, .skills, .projects, .message-list, .message-list-container {
    margin: auto;
    width: 85%;
  }
  .job {
    flex-direction: column;
  }
  .itemlabel {
    margin-left: 0px !important;
  }
  .message-list {
    width: 87%;
  }
}
@media (min-width: 768px) {
  .main-header, .main-nav, .row {
    display: flex;
  }
	.main-header {
		width: 87%;
		margin: 0 auto;
    flex-direction: column;
    align-items: center;
  }
	.tagline {
		font-size: 1.4em;
	}
  .itemlabel {
    margin-left: 0px !important;
  }
  h2.message-list-container {
    width: 87%;
  }
  .message-list-container {
    width: 80%;
  }
  .bio, .skills, .projects {
    width: 85%;
  }
  .job {
    flex-direction: column;
  }
}
@media (min-width: 1025px) {
	.main-header {
		width: 87%;
		max-width: 1150px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .message-list {
    width: 87%;
  }
  .bio, .job, .skills, .projects, .message-list, .message-list-container {
    width: 80%;
  }
  .job {
    flex-direction: row;
  }
}
@media (min-width: 1220px) {
	.main-header {
		width: 90%;
		max-width: 1350px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  h2.message-list {
    width: 87%;
  }
  .bio, .job, .skills, .projects, .message-list, .message-list-container {
    width: 80%;
  }
  .job {
    flex-direction: row;
  }
}